@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Medium.woff2") format("woff2"), url("/fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("/fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2"), url("/fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --desc: #333333;
  --white: #fff;
  --blue: #4762FF;
  --light-blue: #F4F6FA;
  --bg-color: #f4f4f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--desc);
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 179px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--blue);
  transition: opacity 0.7s ease;
}
.btn:hover {
  opacity: 0.7;
}
.btn:active {
  opacity: 1;
}

.img {
  width: 100%;
  height: auto;
}

.title {
  color: #333;
  font-size: 48px;
  font-weight: 700;
}

.desc {
  color: rgba(51, 51, 51, 0.8);
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
.header {
  position: relative;
  font-size: 14px;
}

.header__info {
  display: none;
  margin: 18px 0;
}

.header__info--address,
.header__info--timeline,
.header__info--phone {
  display: flex;
}
.header__info--address a,
.header__info--timeline a,
.header__info--phone a {
  color: var(--desc);
  opacity: 0.7;
  transition: ease 0.2s;
  margin-left: 6px;
}
.header__info--address a:hover,
.header__info--timeline a:hover,
.header__info--phone a:hover {
  opacity: 1;
}
.header__info--address svg,
.header__info--timeline svg,
.header__info--phone svg {
  width: 20px;
  height: 20px;
}

.header__info--timeline {
  padding-left: 20px;
  margin-left: 26px;
  border-left: 1px solid rgba(51, 51, 51, 0.1);
}

.header__info--phone {
  margin-left: auto;
}

.header__phone--number {
  display: flex;
  flex-direction: column;
}

.header__menu {
  display: block;
  margin: 18px 0;
}

.header__menu--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu--logo {
  display: inline-block;
  margin-left: -8px;
}
.header__menu--logo img {
  display: block;
  width: 175px;
  height: 36px;
}

.header__menu--nav {
  display: none;
}

.header__menu--nav.header__menu--sidebar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  position: absolute;
  top: -18px;
  right: 0;
  bottom: 0;
  padding: 80px 10px 0 0;
  background-color: var(--desc);
}
.header__menu--nav.header__menu--sidebar .header__nav--link {
  text-align: right;
  color: var(--white);
  margin-bottom: 20px;
}

.header__nav--link {
  font-weight: 500;
  font-size: 16px;
  color: var(--desc);
}

.header__sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  z-index: 1;
  cursor: pointer;
}
.header__sidebar span {
  width: 28px;
  height: 3px;
  background-color: var(--desc);
  border-radius: 10px;
}

.header__sidebar.active span:nth-child(2) {
  display: none;
}
.header__sidebar.active span:nth-child(1) {
  background-color: var(--white);
  transform: rotate(-45deg);
  margin-bottom: -4px;
}
.header__sidebar.active span:nth-child(3) {
  background-color: var(--white);
  transform: rotate(45deg);
  margin-top: -4px;
}

.header__menu--btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__info {
    display: flex;
    align-items: center;
  }
  .header__menu--nav {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .header__menu--nav,
  .header__menu--btn {
    display: flex;
  }
  .header__menu--btn {
    max-width: 180px;
  }
  .header__sidebar,
  .header__sidebar.active,
  .header__menu--nav.header__menu--sidebar {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__info {
    font-size: 16px;
  }
  .header__menu--nav {
    -moz-column-gap: 46px;
         column-gap: 46px;
  }
  .header__menu--logo,
  .header__nav--link,
  .header__menu--btn {
    transition: opacity 0.2s ease;
  }
  .header__menu--logo:hover,
  .header__nav--link:hover,
  .header__menu--btn:hover {
    opacity: 0.7;
  }
  .header__menu--logo:active,
  .header__nav--link:active,
  .header__menu--btn:active {
    opacity: 1;
  }
}
.hero {
  padding-top: 20px;
}

.hero__row {
  display: flex;
  flex-direction: column;
}

.hero__content {
  order: 2;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.hero__content--title {
  color: var(--desc);
  font-size: 38px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 8px;
}

.hero__content--desc {
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.hero__content--btn {
  max-width: 100%;
}

.hero__image img {
  display: block;
}

@media screen and (min-width: 768px) {
  .hero__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hero__content {
    max-width: 100%;
    text-align: left;
    margin: 0;
  }
  .hero__content--btn {
    max-width: 196px;
    height: 52px;
  }
  .hero__image {
    order: 2;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    position: relative;
    padding-top: 77px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero__content {
    max-width: 540px;
  }
  .hero__content--title {
    font-size: 60px;
    line-height: 76px;
    margin-bottom: 16px;
  }
  .hero__content--desc {
    max-width: 496px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
  }
  .hero__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.advantages {
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
}

.advantages__row {
  display: flex;
  flex-direction: column;
}

.advantages__content {
  margin: 0 auto;
}

.advantages__content--title {
  max-width: 648px;
  font-size: 34px;
  margin-bottom: 12px;
  line-height: 38px;
}

.advantages__content--desc {
  max-width: 540px;
  font-size: 14px;
}

.advantages__list {
  list-style: none;
  margin-top: 40px;
}

.advantages__list--item {
  background-color: var(--light-blue);
  border-radius: 9px;
  padding: 20px 10px;
}
.advantages__list--item + * {
  margin-top: 20px;
}

.advantages__list--item:nth-child(1) img {
  max-width: 280px;
  height: 271px;
  margin-left: -20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages__list--item:nth-child(2) img {
  margin-left: -80px;
}

.advantages__list--item:nth-child(4) img {
  max-width: 219px;
  height: 174px;
  padding-top: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages__item--title {
  font-size: 22px;
  margin-bottom: 12px;
}

.advantages__item--desc {
  font-size: 13px;
}

.advantages__item--img {
  max-width: 300px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .advantages__content--title {
    font-size: 40px;
    margin-bottom: 18px;
  }
  .advantages__content--desc {
    font-size: 18px;
    margin: 0 auto;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1046px;
    gap: 30px;
    justify-content: center;
  }
  .advantages__list--item {
    max-width: 350px;
    width: 100%;
    min-height: 400px;
    position: relative;
    overflow: hidden;
  }
  .advantages__list--item + * {
    margin: 0;
  }
  .advantages__list--item img {
    position: absolute;
    left: 60px;
    bottom: 0;
  }
  .advantages__list--item:nth-child(3) img {
    margin-left: -20px;
  }
  .advantages__list--item:nth-child(4) img {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages {
    padding: 140px 0 78px;
  }
  .advantages__list {
    margin: 0 auto;
    margin-top: 48px;
  }
  .advantages__list--item {
    display: flex;
    max-width: 480px;
    min-height: 287px;
    padding: 25px 28px;
    z-index: 1;
  }
  .advantages__list--item img {
    left: 240px;
    z-index: -1;
  }
  .advantages__item--content {
    max-width: 360px;
    text-align: left;
  }
  .advantages__item--title {
    max-width: 340px;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .advantages__item--desc {
    max-width: 222px;
  }
}
@media screen and (min-width: 1100px) {
  .advantages__list--item {
    max-width: 505px;
  }
  .advantages__list--item img {
    left: 280px;
  }
  .advantages__list--item:nth-child(3) img {
    width: 400px;
    height: 220px;
    margin-left: -75px;
  }
}
.about {
  padding: 10px 0 66px;
}

.about__content {
  max-width: 576px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.about__content--title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
}

.about__content--desc {
  font-size: 14px;
}

.about__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 540px) {
  .about__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .about__content--desc {
    font-size: 16px;
  }
  .about__images {
    display: grid;
    grid-template-rows: repeat(3, 161px);
    grid-template-columns: repeat(3, auto);
    gap: 0;
    max-width: 464px;
    margin: 0 auto;
  }
  .about__images img:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .about__images img:nth-child(2) {
    grid-column: 3/4;
  }
  .about__images img:nth-child(4) {
    grid-row: 3/4;
  }
  .about__images img:nth-child(5) {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    padding-top: 70px;
  }
  .about__row {
    display: flex;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .about__content {
    text-align: left;
  }
  .about__content--title {
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 52px;
  }
  .about__content--desc {
    font-size: 18px;
  }
  .about__images {
    grid-template-rows: repeat(3, 138px);
    align-items: flex-start;
  }
  .about__images img:nth-child(3), .about__images img:nth-child(4) {
    align-self: center;
  }
}
.address {
  background-color: var(--bg-color);
  padding-bottom: 56px;
}

.address__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address__content {
  max-width: 540px;
  text-align: center;
  padding: 40px 0;
}

.address__content--title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
}

.address__content--desc {
  font-size: 14px;
}

.address__map {
  max-width: 708px;
  width: 100%;
}
.address__map iframe {
  display: block;
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .address__content--desc {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .address {
    height: 541px;
    padding: 0;
    margin: 0 auto;
  }
  .address__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -moz-column-gap: 20px;
         column-gap: 20px;
    position: relative;
    z-index: 1;
  }
  .address__content {
    max-width: 440px;
    text-align: left;
    padding: 98px 0 0;
  }
  .address__content--title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 41px;
  }
  .address__content--desc {
    font-size: 18px;
  }
  .address__map {
    width: 100%;
    height: 541px;
    position: relative;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .address__map iframe {
    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .address__content {
    max-width: 540px;
  }
  .address__map {
    position: absolute;
  }
  .address__map iframe {
    width: 708px;
    transform: translateX(165px);
  }
}
.images {
  padding: 40px 0 40px;
}

.images--title {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 20px;
}

.images__swiper {
  height: 300px;
}

.images__slide {
  background-color: lightgreen;
}
.images__slide img {
  max-width: 1110px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.images__pagination .swiper-pagination-bullet {
  background-color: #4762FF;
  opacity: 0.4;
}
.images__pagination .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 5px;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .images {
    padding: 56px 87px;
  }
  .images--title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .swiper.images__swiper {
    height: 500px;
    padding-bottom: 40px;
  }
  .images__pagination {
    bottom: 0 !important;
  }
}
@media screen and (min-width: 1440px) {
  .swiper.images__swiper {
    height: 598px;
  }
}
.form {
  height: 687px;
  background-image: url("/img/form/form-bg_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form .container {
  position: relative;
  height: 100%;
}

.form__card {
  max-width: 611px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 40px 20px;
  border-radius: 15px;
  background-color: var(--white);
  margin: 6px;
}

.form__card--title {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 12px;
}

.form__card--desc {
  font-size: 14px;
  margin-bottom: 25px;
}

.form__card--name {
  margin-bottom: 23px;
}

.form__card--name,
.form__card--tel {
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  padding: 19px 22px;
  border-radius: 8px;
  background-color: rgba(71, 98, 255, 0.1);
  border: none;
}
.form__card--name::-moz-placeholder, .form__card--tel::-moz-placeholder {
  color: #979797;
}
.form__card--name::placeholder,
.form__card--tel::placeholder {
  color: #979797;
}

.form__card--tel {
  margin-bottom: 37px;
}

.form__card--btn {
  max-width: 100%;
  height: 48px;
  border: none;
}

@media screen and (min-width: 500px) {
  .form__card {
    transform: translateY(-50%);
    padding: 40px 70px;
    margin: 6px;
  }
  .form__card--title {
    font-size: 56px;
    line-height: 62px;
    margin-bottom: 16px;
  }
  .form__card--desc {
    font-size: 18px;
    margin-bottom: 35px;
  }
}/*# sourceMappingURL=main.css.map */