.advantages {
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}
.advantages__row {
    display: flex;
    flex-direction: column;
}
.advantages__content {
    margin: 0 auto
}
.advantages__content--title {
    max-width: 648px;
    font-size: 34px;
    margin-bottom: 12px;
    line-height: 38px;
}
.advantages__content--desc {
    max-width: 540px;
    font-size: 14px;
}
.advantages__list {
    list-style: none;
    margin-top: 40px;
}
.advantages__list--item {
    background-color: var(--light-blue);
    border-radius: 9px;
    padding: 20px 10px;

    & + * {
        margin-top: 20px;
    }
}
.advantages__list--item:nth-child(1) {
        & img {
            max-width: 280px; 
            height: 271px;
            margin-left: -20px;
            object-fit: contain;
        }
}
.advantages__list--item:nth-child(2) {
    & img {
        margin-left: -80px;
    }
}
.advantages__list--item:nth-child(4) {
    & img {
        max-width: 219px; 
        height: 174px;
        padding-top: 20px;
        object-fit: contain;
    }
}
.advantages__item--title {
    font-size: 22px;
    margin-bottom: 12px;
}
.advantages__item--desc {
    font-size: 13px;
}
.advantages__item--img {
    max-width: 300px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .advantages__content--title {
        font-size: 40px;
        margin-bottom: 18px;
    }
    .advantages__content--desc {
        font-size: 18px;
        margin: 0 auto;
    }
    .advantages__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1046px;
        gap: 30px;
        justify-content: center;
    }
    .advantages__list--item {
        max-width: 350px;
        width: 100%;
        min-height: 400px;
        position: relative;
        overflow: hidden;

        & + * {
            margin: 0;
        }
        & img {
            position: absolute;
            left: 60px;
            bottom: 0;
        }
    }
    .advantages__list--item:nth-child(3) {
        & img {
            margin-left: -20px;
        }
    }
    .advantages__list--item:nth-child(4) {
        & img {
            margin-left: 20px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .advantages {
        padding: 140px 0 78px;
    }
    .advantages__list {
        margin: 0 auto;
        margin-top: 48px;
    }
    .advantages__list--item {
        display: flex;
        max-width: 480px;
        min-height: 287px;
        padding: 25px 28px;
        z-index: 1;

        & img {
            left: 240px;
            z-index: -1;
        }
    }
    .advantages__item--content {
        max-width: 360px;
        text-align: left;
    }
    .advantages__item--title {
        max-width: 340px;
        font-size: 24px;
        margin-bottom: 15px;
    }
    .advantages__item--desc {
        max-width: 222px;
    }
}    
@media screen and (min-width: 1100px) {
    .advantages__list--item {
        max-width: 505px;

        & img {
            left: 280px;
        }
    }
    .advantages__list--item:nth-child(3) {
        & img {
            width: 400px;
            height: 220px;
            margin-left: -75px;
        }
    }        
}