.header {
    position: relative;
    font-size: 14px;
}
.header__info {
    display: none;
    margin: 18px 0;
}
.header__info--address,
.header__info--timeline,
.header__info--phone {
    display: flex;

    & a {
        color: var(--desc);
        opacity: .7;
        transition: ease .2s;
        margin-left: 6px;
    }
    & a:hover {
        opacity: 1;
    }
    & svg {
        width: 20px;
        height: 20px;
    }
}
.header__info--timeline {
    padding-left: 20px;
    margin-left: 26px;
    border-left: 1px solid rgba(51, 51, 51, .10);
}
.header__info--phone {
    margin-left: auto;
}
.header__phone--number {
    display: flex;
    flex-direction: column;
}
// header menu
.header__menu {
    display: block;
    margin: 18px 0;
}
.header__menu--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu--logo {
    display: inline-block;
    margin-left: -8px;

    & img {
        display: block;
        width: 175px;
        height: 36px;
    }
}
.header__menu--nav {
    display: none;
}
.header__menu--nav.header__menu--sidebar {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    position: absolute;
    top: -18px;
    right: 0;
    bottom: 0;
    padding: 80px 10px 0 0;
    background-color: var(--desc);

    & .header__nav--link {
        text-align: right;
        color: var(--white);
        margin-bottom: 20px;
    }
}
.header__nav--link {
    font-weight: 500;
    font-size: 16px;
    color: var(--desc);
}
.header__sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    z-index: 1;
    cursor: pointer;

    & span {
        width: 28px;
        height: 3px;
        background-color: var(--desc);
        border-radius: 10px;
    }
}
.header__sidebar.active {
    
    & span:nth-child(2) {
        display: none;
    }
    & span:nth-child(1) {
        background-color: var(--white);
        transform: rotate(-45deg);
        margin-bottom: -4px;
    }
    & span:nth-child(3) {
        background-color: var(--white);
        transform: rotate(45deg);
        margin-top: -4px;
    }
}

.header__menu--btn {
    display: none;
}
@media screen and (min-width: 768px) {
    .header__info {
        display: flex;
        align-items: center;
    }
    .header__menu--nav {
        column-gap: 10px;
    }
    .header__menu--nav,
    .header__menu--btn {
        display: flex;
    }
    .header__menu--btn {
        max-width: 180px;
    }
    .header__sidebar,
    .header__sidebar.active,
    .header__menu--nav.header__menu--sidebar {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .header__info {
        font-size: 16px;
    }
    .header__menu--nav {
        column-gap: 46px;
    }
    .header__menu--logo,
    .header__nav--link,
    .header__menu--btn {
        transition: opacity .2s ease;

        &:hover {
            opacity: .7;
        }
        &:active {
            opacity: 1;
        }
    }

}