.images {
    padding: 40px 0 40px;
}
.images--title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 20px;
}
.images__swiper {
    height: 300px;
}
.images__slide {
    background-color: lightgreen;

    & img {
        max-width: 1110px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
}

.images__pagination {
    & .swiper-pagination-bullet {
        background-color: #4762FF;
        opacity: .4;
    }
    & .swiper-pagination-bullet-active {
        width: 20px;
        border-radius: 5px;
        opacity: 1;
    }
}
@media screen and (min-width: 1024px) {
    .images {
        padding: 56px 87px;
    }
    .images--title {
        font-size: 48px;
        margin-bottom: 40px;
    }
    .swiper.images__swiper {
        height: 500px;
        padding-bottom: 40px;
    }
    .images__pagination {
        bottom: 0 !important;
    }
}
@media screen and (min-width: 1440px) {
    .swiper.images__swiper {
        height: 598px;
    }
}